# -------------------------------------
# Python 기본
# -------------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.pkl.*
*.swp

# 가상환경
venv/
env/
.venv/
ENV/

# -------------------------------------
# 운영체제별 불필요 파일
# -------------------------------------
# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Linux
*.log
*.bak
*.tmp

# -------------------------------------
# 프로젝트 전용 — 데이터셋 저장용 폴더
# -------------------------------------
*.png
*.jpg
*.csv
dataset/*.csv
dataset/*.png
dataset/*.jpg


# -------------------------------------
# 개발 환경 / IDE
# -------------------------------------
.vscode/

# -------------------------------------
# Python 실행 관련
# -------------------------------------
*.pid
*.out
nohup.out

# -------------------------------------
# Camera / OpenCV temp
# -------------------------------------
camera_cache/
frames/
temp/
tmp/

# -------------------------------------
# 로그 파일
# -------------------------------------
logs/
*.log

